body{
	font-family:Trebuchet MS;
	background-color:#F3F5F7;
    background-image:url("../images/brownback.jpg");
    background-repeat: repeat-x;
	background-size: 100% 100%;
}

.logo{
    text-align: center;
	/*background:url("../images/mozuhe-logo.png");
    background-repeat: repeat-y;
    background-size: 100% 100%;*/
}

.container{
	/*margin:0 auto;*/
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
	background-repeat: repeat-y;
	background-size: 100% 100%;*/
}

.background-container{
    /*margin-right = 50%;*/
    background-image:url("../images/hermoso.jpg");
    background-size: 100% 100%;
    max-width: 2048px;
    max-height: 1152px;
    
}

.welcome-menu{
	background-image:url("../images/paisaje-fondo.png");
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	background-repeat: repeat-y;
	margin-left:165px;
	margin-right:165px;
	background-size: 100% 100%;
}

.top-menu{
	background-color:#F3F5F7;
}

ul.esq-izq-menu li{
	display:inline-block;
	vertical-align:top;
	font-size: 12px;
	margin-left:20px;
}

.header{
	background-color:#F3F5F7;
	color:#2D3645;
	text-align:center;
	padding:13px;
	margin-left:250px;
	margin-right:250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.part1-header{
	display:inline;
	vertical-align:top;
	text-align:left;
}

.part1-header h1{
	display:inline;
	vertical-align:top;
	text-align:left;
}


.part1-header ul li{
	display:inline;
	vertical-align:top;
	text-align:left;
	margin-left:30px;
}

.part1-header h1{
	font-family: 'Tangerine', serif;
	font-size:75px;
}

.banner1{
	margin-top:35px;
	margin-left:25px;
	margin-right:25px;
}

.buscadorVuelos{
	margin-top:35px;
	background-color:#F3F5F7;
	text-align:center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buscadorVuelos h1{
	font-family: 'Tangerine', serif;
	font-size:75px;
}

/*.search-table{
	font-family:Avantgarde, sans-serif;
	font-size:18px;
	display:inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table;
	background-color:black;
}*/

.mySlides {display:none;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.foot{
	display:block;
	background-image:url("../images/GreyBackground.jpg");
	background-repeat: repeat-x;
	color:white;
	margin-top:15px;
	padding:15px;
}

.bottom-menu{
	display:inline-block;
	vertical-align:top;
	text-align:left;
	margin-left:10px;
	margin-right:45px;
}

.bottom-menu ul li{
	display:block;
	vertical-align:top;
	text-align:left;
}

.bottom-menu ul li a:link {
    background-color: transparent; 
    text-decoration: none;
}

.bottom-menu ul li a:hover {
    color: #BCBCBC; 
    text-decoration: none;
}

a:link {
    background-color: transparent; 
    text-decoration: none;
}

a:hover {
    background-color: #D9D9D9; 
    text-decoration: none;
}

.slider-table{
	font-family:Avantgarde, sans-serif;
	font-size:18px;
	display:inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table;
	margin-top:15px;
    margin-bottom:150px;
	background-color:white;
    color:black;
}

.slider-table tr{
	font-size:15px;
}

.slider-table tr:nth-child(even){
	background-color:#f1f1f1
	}

.slider-table tr:hover{
	background-color:#ccc
}

.primer-fila-rojo{
	color:#fff;
	background-color:#f44336;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }