*{
	margin:0px;
	padding:0px;	
}

body{
	background-color:#001;
}

#header{
	background-color:#F3F5F7;
}

#header2{
	background-color:#808080;
	
}

#logo{
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#letra{
	color:#D8D8D8;
	
}

.boton{
	text-align:center;
	font-size:25px;
    border-radius: 10px;
}



input[type="text"].focus {background-color:#F5ECCE;}
input[type="text"].nofocus {background-color:white;}
input.invalid {box-shadow: 0 0 5px 1px red;}

